# Port d'acces au site (Nginx)
WEB_PORT=8080

# Backend (Express)
PORT=3500
HOST=0.0.0.0

# CORS
FRONTEND_URL=http://localhost:8080
PROD_FRONTEND_URL=https://domainename.com

# API
BASE_URL=/api

# MySQL
MYSQL_PORT=3306
PHPMYADMIN_PORT=80
MYSQL_ROOT_PASSWORD=YourVerySecretPassworldThatShouldntBeOnlyRoot # a supprimer en prod
MYSQL_DATABASE=worldbuilding
MYSQL_USER=secretuser # a supprimer en prod
MYSQL_PASSWORD=secretpassword # a supprimer en prod

# PhPMyAdmin
PHPMYADMIN_PROD_PORT=8081

# JWT
JWT_TOKEN="result created by openssl rand -base64 64"

JWT_EXPIRATION=7d