# Port d'acces au site (Nginx)
WEB_PORT=8080

# Backend (Express)
PORT=3500
HOST=0.0.0.0

# CORS
FRONTEND_URL=http://localhost:8080
PROD_FRONTEND_URL=https://domainename.com

# API
BASE_URL=/api

# MySQL
MYSQL_PORT=3306
PHPMYADMIN_PORT=80
MYSQL_ROOT_PASSWORD=YourVerySecretPassworldThatShouldntBeOnlyRoot # a supprimer en prod
MYSQL_DATABASE=worldbuilding
MYSQL_USER=secretuser # a supprimer en prod
MYSQL_PASSWORD=secretpassword # a supprimer en prod

# PhPMyAdmin
PHPMYADMIN_PROD_PORT=8081

# Minio
BUCKET=users-data
minio_access_key=waterverkey
minio_secret_key=1secretpassword
MINIO_ROOT_USER=wathever
MINIO_ROOT_PASSWORD=rootpasswordthatshouldntbeonlyroot
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Brevo
BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@example.com
BREVO_SENDER_NAME=hello
BREVO_TIMEOUT=10
BREVO_MAX_RETRIES=2

# Pas de configuration pour le chiffrement pour l'instant, valeur temporaire (non fonctionnel)
# vide, pas de chiffrement par défaut, mais peut être défini sur "SSE-S3" ou "SSE-KMS"
# via MINIO_SSE_MODE=AES256 ou MINIO_SSE_MODE=SSE-KMS
MINIO_SSE_MODE=
# si SSS-KMS, alors il faut définir la clé KMS à utiliser pour le chiffrement, inutile avec AES256
MINIO_SSE_KMS_KEY_ID=
