# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# composer
vendor

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
*/.env
!.env.example

# Secrets
secrets/*
!secrets/*_example*

# Instructions IA
AGENTS.md
.agents

# Doc perso
!Docs/DossierProjet/DossierProjet.md
!Docs/DossierProjet/image-*
Docs/*
TODO.md

# Test
backend/tests/*.php

# bdd
backend/db/dbseed.sql
backend/db/migration/*
!backend/db/migration/20260807_moderation_actions.sql
!backend/db/migration/20260807_remove_moderation_email_outbox.sql

# police d'ecriture
frontend/app/assets/fonts



backend/tests/
