# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# composer
vendor

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
*/.env
!.env.example

# Secrets
secrets/*
!secrets/*_example*

# Instructions IA
AGENTS.md
.agents

# Doc perso
TODO.md
tutoPreCommit.md

# bdd
backend/db/db.sql
backend/db/dbseed.sql

